.cover{
    background-image: url("./Cover.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 6%;
    height: 90vh;
}
@media only screen and (max-width:900px) {
    .cover{
        background-image: url(cover);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height:auto;
        margin-top: 25%;

    }
}
